{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
<div class="hide">
    welcome - {{employee.name}}
    {% include 'include/office/office_menu.html' %}
</div>

{% load office_tag %}
<style>
    .bill_box{
        padding-top: 10px;
        width: 380px;
        border: 1px solid black;
        margin: auto;
    }
    .shope_name{
        text-align: center;
        font-size: 22px;
    }
    .description{
        margin: 0 auto;
        text-align: center;
        font-size: 15px;
    }
    .address{
        margin: 0 auto;
        margin-top: -10px;
        text-align: center;
        font-size: 15px;
    }
    .contact_details{

        margin: 0 auto;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
    }
    .bill_number_box{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

    }
    .customer_box{
        display: flex;
        justify-content: space-evenly;
        .customer_name{
            text-align: flex-start;
            width: 200px;
        }
        .customer_mobile{
            text-align: flex-start;
            width: 200px;
        }
    }
    .containt_box{
        margin-top: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .containt_box_header, .containt_box_main_contaont{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 2fr;
        div{
            border-left: 1px solid black;
            text-align: center;
        }
    }
    .other_charges_box{
        padding: 5px;
        display: flex;
        gap: 2px;
        justify-content: space-between;
    }
    .other_charges{
        padding: 5px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        input{
            width: 50px;
        }
    }
    .advertise{
    display: none;

}
a{
    color: #000;
    text-decoration: none;
}
.bill_main_header{
        display: none;
    }
</style>
<style media="print">
    .bill_box{
        width: 3in;
        border: none;
    }
    .hide{
        display: none;
    }
    .date{
        font-size: 12px;
    }
    .other_charges{
        padding: 5px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        font-size: 14px;
    }
    .advertise{
        display: unset;
        width: 3in;
        margin: 0 auto;
        font-size: 15px;
    }
    .containt_box{
        border: 1px solid black;
    }
    .ad_a{
        display: flex;
        justify-content: center;
    }
    .bill_main_header{
        display: unset;
    }
</style>


<div class="bill_box">
    <div class="header">
        <div class="bill_main_header">
            <div class="shope_name"><b>{{order_master.shope.shope_name}}</b></div>
            <div class="description"><p>{{order_master.shope.description}}</p></div>
            <div class="address">{{order_master.shope.address}}</div>
            <div class="contact_details">{{order_master.shope.contact_details}}</div>
        </div>
        <div class="bill_number_box">
            <div class="bill_number">बिल नंबर - {{order_master.order_filter}}</div>
            <div class="date">दिनांक  - {{order_master.ordered_date}}</div>
        </div>
        {% if order_master.customer == None %}
        <div class="customer_box">
            <div class="customer_name">नांव - </div>
            <div class="customer_mobile">मोबाइल - </div>
        </div>
        {% else %}
        <div class="customer_box">
            <div class="customer_name">नांव - {{order_master.customer.name}}</div>
            <div class="customer_mobile">मोबाइल - {{order_master.customer.mobile}}</div>
        </div>
        {% endif %}
    </div>
    <div class="containt_box">
        <div class="containt_box_header">
            <div style="border: none;">मालाचा तपशील</div>
            <div>नग</div>
            <div>वजन</div>
            <div>दर</div>
            <div>एकूण रकम</div>
        </div>
        {% for o in order_detail %}
        <div class="containt_box_main_contaont" style="border-top: 1px solid black;">
            <div style="border: none;">{{o.stock_item.item_name_marathi}}</div>
            <div>{{o.qty}}</div>
            <div>{{o.weight}}</div>
            <div>{{o.prise}}</div>
            <div><b>{% calculete_item_prise o.weight o.prise %}</b></div>
        </div>
        {% endfor %}
    </div>
    <div class="other_charges_box" >
        <div class="other_charges">
            <div class="lable">हमाली</div>
            <div class="containt">{{order_master.hamali}}</div>
        </div>
        <div class="other_charges">
            <div class="lable">तोलाई</div>
            <div class="containt">{{order_master.tolai}}</div>
        </div>
        <div class="other_charges">
    <div class="lable">आडत</div>
    <div class="containt">{{order_master.aadat}}</div>
</div>
<div class="other_charges">
    <div class="lable">शेअर्स</div>
    <div class="containt">{{order_master.shears}}</div>
</div>
<div class="other_charges">
    <div class="lable">इतर</div>
    <div class="containt">{{order_master.eater}}</div>
</div>
<div class="other_charges">
    <div class="lable">एकूण</div>
    <div class="containt" id="total_item_amount_box"><b>{{order_master.total}}</b></div>
</div>
</div>
</div>
<div class="advertise ad_a">All type Mobile Software - <a href="https://digitalkarmala.com/contact_us/">9730 99 1252</a> </div></a>
<div class="hide container">
    <div id="pending_box" class="mb-3 mt-2 border p-3 text-center" {% if total_pending_amount != 0.0 %} style="display: flex;justify-content: space-evenly; gap: 10px;background-color: rgba(255, 191, 191, 0.774);" {% else %} style="display: flex;justify-content: space-evenly; gap: 10px;background-color: rgba(196, 255, 162, 0.774);" {% endif %}>
        <div>
            <label for="cash">बाकी </label>
            <input type="text" {% if total_pending_amount != 0.0 %} style="text-align: center;font-weight: 700;color: white; background-color: red;" {% else %} style="text-align: center;font-weight: 700;color: rgb(0, 0, 0); background-color: rgb(81, 255, 0);"{% endif %} class="form-control" value="{{total_pending_amount | floatformat:2}}"  id="total_pending_amount" readonly>
        </div>
        <div>
            <div><label for="cash">Discount</label></div>
            <div class="flex" style="display: flex;gap: 10px;">
                <div><input type="number" style="text-align: center;font-weight: 700;color: rgb(0, 0, 0); background-color: rgb(253, 255, 128);" class="form-control" placeholder="Discount" value="{{order_master.discount}}" oninput="check_descount('{{total_pending_amount}}')"  id="discount"></div>
                <div id="discount_btn" style="display: none;" onclick="save_discount_amount('discount')"><button class="btn btn-success"><i class="fa-solid fa-check"></i></button></div>
            </div>

        </div>
    </div>
    <div class="mb-3 mt-2 border p-3 text-center" style="background-color: rgb(202, 255, 202);">
        <label for="cash">रोख</label>
        <div class="" style="display: flex;gap: 10px;">
            <input  placeholder="रक्कम टाका" type="number" class="form-control"  id="cash_amount" oninput="check_cash_amount('{{total_pending_amount}}')">
            <div id="cash_btn" style="display: none;" onclick="save_cash_amount()"><button class="btn btn-success"><i class="fa-solid fa-check"></i></button></div>
        </div>
    </div>
    {% for p in phonepe %}
        <div class="mb-3 mt-2 border p-3 text-center" style="background-color: hsl(236, 100%, 80%);">
            <label for="cash">{{p.phonepe_name}} - {{p.phonepe_number}}</label>
            <div class="" style="display: flex;gap: 10px;">
                <input placeholder="रक्कम टाका" type="number" class="form-control"  id="phonepe_amount{{p.id}}" oninput="check_phonepe_amount('phonepe_amount{{p.id}}', 'phonepe_btn{{p.id}}', '{{total_pending_amount}}')">
                <div id="phonepe_btn{{p.id}}" style="display: none;" onclick="save_phonepe_amount('{{p.id}}','phonepe_amount{{p.id}}')"><button class="btn btn-success"><i class="fa-solid fa-check"></i></button></div>
            </div>
        </div>
    {% endfor %}
    <br>
    <div class=" text-center p-3 border" id="transition_histry" style="display: grid;grid-template-columns: 2fr 1fr;">
        {% for c in cash_transition %}
            <div>Cash </div>
            <div><b>Rs.{{c.amount}}</b></div>
        {% endfor %}
        {% for pt in phonepe_transition %}
            <div>{{pt.phonepe_number.phonepe_number}} </div>
            <div><b>Rs.{{pt.amount}}</b></div>
        {% endfor %}
        <div style="background-color: rgb(194, 255, 255); border-radius: 5px;">Total</div>
        <div style="background-color: rgb(0, 255, 255); border-radius: 5px;"><b>Rs.{{total_credit}}</b></div>
    </div>
</div>


<div class="text-center hide">
    <button class="btn btn-primary" onclick="window.print()">Print</button>
</div>


<script>
    shope_id = '{{employee.shope.id}}'
    employee_id = '{{employee.id}}'
    order_master_id = '{{order_master.id}}'
    function check_phonepe_amount(input_id, btn_id,pending_amount){
        input = document.getElementById(input_id).value
        if(Number(input) > 0){
            document.getElementById(btn_id).style.display = 'unset'
        }
        if(Number(input) < 1){
            document.getElementById(btn_id).style.display = 'none'
        }
        if(Number(input) > Number(pending_amount)){
            document.getElementById(btn_id).style.display = 'none'
            input = document.getElementById(input_id).value = ''
        }
        if(Number(input) < 0){
            document.getElementById(btn_id).style.display = 'none'
            input = document.getElementById(input_id).value = ''
        }
    }
    function check_descount(pending_amount){
        input = document.getElementById('discount').value
        if(Number(input) > 0){
            document.getElementById('discount_btn').style.display = 'unset'
        }
        if(Number(input) < 1){
            document.getElementById('discount_btn').style.display = 'none'
        }
        if(Number(input) > Number(pending_amount)){
            document.getElementById('discount_btn').style.display = 'none'
            input = document.getElementById('discount').value = ''
        }
        if(Number(input) < 0){
            document.getElementById('discount_btn').style.display = 'none'
            input = document.getElementById('discount').value = ''
        }

    }
    function check_cash_amount(pending_amount){
        input = document.getElementById('cash_amount').value
        if(Number(input) > 0){
            document.getElementById('cash_btn').style.display = 'unset'
        }
        if(Number(input) < 1){
            document.getElementById('cash_btn').style.display = 'none'
        }
        if(Number(input) > Number(pending_amount)){
            document.getElementById('cash_btn').style.display = 'none'
            input = document.getElementById('cash_amount').value = ''
        }
        if(Number(input) < 0){
            document.getElementById('cash_btn').style.display = 'none'
            input = document.getElementById('cash_amount').value = ''
        }

    }
    function save_discount_amount(input_id){
        d = document.getElementById(input_id).value
        $.ajax({
            url: "{% url 'save_discount_amount' %}",
            method: "GET",
            data:{
                shope_id:shope_id,
                office_employee_id:employee_id,
                order_master_id:order_master_id,
                discount_amount:document.getElementById(input_id).value
                },
                success: function(res){
                    document.getElementById(input_id).value = ''
                    document.getElementById('transition_histry').innerHTML = res.t
                    document.getElementById('discount').value = d
                    document.getElementById('total_pending_amount').value = res.total_pending_amount
                    document.getElementById('discount_btn').style.display = 'none'
                    if (res.total_pending_amount == 0.0){
                        document.getElementById('total_pending_amount').style.backgroundColor = 'rgb(81, 255, 0)'
                        document.getElementById('pending_box').style.backgroundColor = 'rgba(196, 255, 162, 0.774)'
                    }
            }
        })
    }
    function save_phonepe_amount(phonepe_id, input_id){
        $.ajax({
            url: "{% url 'save_phonepe_amount' %}",
            method: "GET",
            data:{
                shope_id:shope_id,
                office_employee_id:employee_id,
                phonepe_number_id:phonepe_id,
                order_master_id:order_master_id,
                cash_amount:document.getElementById(input_id).value
                },
                success: function(res){
                    document.getElementById(input_id).value = ''
                    document.getElementById('transition_histry').innerHTML = res.t
                    document.getElementById('total_pending_amount').value = res.total_pending_amount
                    document.getElementById('phonepe_btn'+phonepe_id).style.display = 'none'
                    if (res.total_pending_amount == 0.0){
                        document.getElementById('total_pending_amount').style.backgroundColor = 'rgb(81, 255, 0)'
                        document.getElementById('pending_box').style.backgroundColor = 'rgba(196, 255, 162, 0.774)'
                    }
            }
        })
    }
    function save_cash_amount(cash_id){
        $.ajax({
            url: "{% url 'save_cash_amount' %}",
            method: "GET",
            data:{
                shope_id:shope_id,
                office_employee_id:employee_id,
                order_master_id:order_master_id,
                cash_amount:document.getElementById('cash_amount').value
            },
            success: function(res){
                document.getElementById('cash_amount').value = ''
                document.getElementById('transition_histry').innerHTML = res.t
                document.getElementById('total_pending_amount').value = res.total_pending_amount
                document.getElementById('cash_btn').style.display = 'none'
                if (res.total_pending_amount == 0.0){
                    document.getElementById('total_pending_amount').style.backgroundColor = 'rgb(81, 255, 0)'
                    document.getElementById('pending_box').style.backgroundColor = 'rgba(196, 255, 162, 0.774)'
                }
            }
        })
    }
</script>
{% endblock content %}