{% extends 'home/base.html' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js" integrity="sha512-pdCVFUWsxl1A4g0uV6fyJ3nrnTGeWnZN2Tl/56j45UvZ1OMdm9CIbctuIHj+yBIRTUUyv6I9+OivXj4i0LPEYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js" integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    

{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
<div class="hide">
    welcome - {{employee.name}}
    {% include 'include/office/office_menu.html' %}
</div>

{% load office_tag %}
<style>
    .bill_box{
        padding-top: 10px;
        width: 380px;
        margin: auto;
        background-color: rgb(255, 255, 255);
    }
    .shope_name{
        text-align: center;
        font-size: 22px;
    }
    .description{
        margin: 0 auto;
        text-align: center;
        font-size: 15px;
    }
    .address{
        margin: 0 auto;
        margin-top: -10px;
        text-align: center;
        font-size: 15px;
    }
    .contact_details{

        margin: 0 auto;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
    }
    .bill_number_box{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

    }
    .customer_box{
        display: flex;
        justify-content: space-evenly;
        .customer_name{
            text-align: flex-start;
            width: 200px;
        }
        .customer_mobile{
            text-align: flex-start;
            width: 200px;
        }
    }
    .containt_box{
        margin-top: 10px;
        border: 1px solid black;
    }
    .containt_box_header, .containt_box_main_contaont{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 2fr;
        div{
            border-left: 1px solid black;
            text-align: center;
        }
    }
    .other_charges_box{
        padding: 5px;
        display: flex;
        gap: 2px;
        justify-content: space-between;
    }
    .other_charges{
        padding: 5px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        input{
            width: 50px;
        }
    }
    .advertise{
        width: 3in;
        margin: 0 auto;
        font-size: 15px;

}
a{
    color: #000;
    text-decoration: none;
}

</style>
<style media="print">
    .bill_box{
        width: 3in;
        border: none;
        
    }
    .hide{
        display: none !important;
    }
    .date{
        font-size: 12px;
    }
    .other_charges{
        padding: 5px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        font-size: 14px;
    }
    .advertise{
        display: unset;

    }
    .containt_box{
        border: 1px solid black;
    }
    .ad_a{
        display: flex;
        justify-content: center;
    }
    .bill_main_header{
        display: unset;
    }
</style>


<div id="canvse">
<div class="bill_box">
    <div class="header">
        <div class="bill_main_header">
            <div class="text-center">खरेदी बिल</div>
            <div class="shope_name"><b>{{order_master.shope.shope_name}}</b></div>
            <div class="description"><p>{{order_master.shope.description}}</p></div>
            <div class="address">{{order_master.shope.address}}</div>
            <div class="contact_details">{{order_master.shope.contact_details}}</div>
        </div>
        <div class="bill_number_box">
            <div class="bill_number">खरेदी बिल {{order_master.order_filter}}</div>
            <div class="date">दिनांक  - {{order_master.ordered_date}}</div>
        </div>
        
        {% if order_master.farmer_id == None %}
        
        <div class="customer_box">
            <div class="customer_name">नांव - {{order_master.farmer.id}}</div>
            <div class="customer_mobile">मोबाइल - </div>
        </div>
        {% else %}
        
        <div class="customer_box">
            <div class="customer_name">नांव - {{order_master.farmer.name}}</div>
            <div class="customer_mobile">मोबाइल - {{order_master.farmer.mobile}}</div>
        </div>
        {% endif %}
    </div>
    <div class="containt_box">
        <div class="containt_box_header">
            <div style="border: none;">मालाचा तपशील</div>
            <div>नग</div>
            <div>वजन</div>
            <div>दर</div>
            <div>एकूण रकम</div>
        </div>
        {% for o in order_detail %}
        <div class="containt_box_main_contaont" style="border-top: 1px solid black;">
            <div style="border: none;">{{o.item.marathi_name}}</div>
            <div>{{o.qty}}</div>
            <div>{{o.weight}}</div>
            <div>{{o.prise}}</div>
            <div><b>{% calculete_item_prise o.weight o.prise %}</b></div>
        </div>
        {% endfor %}
    </div>
    <div class="other_charges_box" >
        <div class="other_charges">
            <div class="lable">हमाली</div>
            <div class="containt">{{order_master.hamali}}</div>
        </div>
        <div class="other_charges">
            <div class="lable">तोलाई</div>
            <div class="containt">{{order_master.tolai}}</div>
        </div>
        <div class="other_charges">
    <div class="lable">आडत</div>
    <div class="containt">{{order_master.aadat}}</div>
</div>
<div class="other_charges">
    <div class="lable">शेअर्स</div>
    <div class="containt">{{order_master.shears | floatformat:2}}</div>
</div>
<div class="other_charges">
    <div class="lable">इतर</div>
    <div class="containt">{{order_master.eater | floatformat:2}}</div>
</div>
<div class="other_charges">
    <div class="lable">एकूण</div>
    <div class="containt" id="total_item_amount_box"><b>{{order_master.total | floatformat:2}}</b></div>
</div>
</div>
</div>
<div class="advertise ad_a">All type Mobile Software - <a href="https://digitalkarmala.com/contact_us/">9730 99 1252</a> </div></a>
</div>
<br>
<div class="text-center hide " style="display: flex;justify-content: space-evenly;">
    <div> <button class="btn btn-primary " onclick="window.print()">Print</button></div>
    <div> <a href="/office/genereate_purchase_bill_image/{{order_master.order_filter}}" class="btn btn-success " onclick="download_img()"><i class="fa fa-download" aria-hidden="true"></i></a></div>
</div>


<script>
    function download_img(){
        var canvas = document.getElementById("canvse");
        domtoimage.toJpeg(canvas).then((data)=>{
            var link =  document.createElement("a");
            link.download = '{{bill.farmer.name}} '+ new Date().toLocaleString() +' .jpeg';
            link.href = data;
            link.click();
        });


    }
</script>
{% endblock content %}