{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% load office_tag %}
{% include 'include/alert.html' %}
<div>
    welcome - {{employee.name}}
</div>
{% include 'include/office/office_menu.html' %}
<br>
{% include 'include/office/report.html' %}

<style>
    .form_box{
        display: grid;
        grid-template-columns: repeat(auto-fit, 350px);
        justify-content: space-between;
        input{
            width: 340px;
        }
    }
    .other_charges_box{
        padding: 5px;
        display: flex;
        gap: 2px;
        justify-content: space-between;
    }
    .other_charges{
        padding: 5px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        input{
            width: 50px;
        }
    }
</style>

<div class="container">
    <form method="POST">
        <div class="form_box">
            <div class="from_date_box">
                <Label>From</Label><br>
                <input type="date" name="from_date" class="form-control" placeholder="From Date" required>
            </div>
            <div class="to_date_box">
                <Label>To</Label><br>
                <input type="date" name="to_date" class="form-control" placeholder="To Date" required>
            </div>
        </div>
        <br>
        <div class="employee_box">
            <Label>Employee</Label><br>
            <select class="form-select" name="employee_id" aria-label="Default select example" required>
                <option value="">Select Employee</option>
                <option value="0">All</option>
                {% for e in all_employee %}
                <option value="{{e.id}}">{{e.name}}</option>
                {% endfor %}
            </select>    
        </div>
        <br>
        <button type="submit" class="btn btn-primary" name="employee_detail">Search</button>
    </form>

    <hr><br>



<style>
    .order_box{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
    }
    .order_box_head_containt{
        font-weight: 700;
        border-bottom: 1px solid black;
    }
</style>
<div>
    {% if order_detail %}
    <div class="text-center" style="display: flex;gap: 10px;">
        <label>From - {{from_date}}</label>
        <label>To - {{to_date}}</label>&nbsp; - &nbsp;
        <label>{{selected_employee.name}}</label>
    </div>
    <div class="order_box">
        <div class="order_box_head_containt">#</div>
        <div class="order_box_head_containt">Item</div>
        <div class="order_box_head_containt">Weight</div>
        <div class="order_box_head_containt">Qty</div>
        <div class="order_box_head_containt">Amount</div>
        {% for o in order_detail %}
            <div>{{forloop.counter}}</div>
            <div><b>{{o.stock_item.item_name_marathi}}</b></div>
            <div>{% employee_weight_report o.stock_item.id selected_employee.id %}</div>
            <div>{% employee_qty_report o.stock_item.id selected_employee.id %}</div>
            <div><b>{% total_amount_report selected_employee.id o.stock_item.id  from_date to_date  %}</b></div>
            <div>^</div>
            <div>सरासरी</div>
            <div>जास्तीत - जास्त</div>
            <div>कमीत - कमी</div>
            <div></div>
            {% average_min_max_price selected_employee.id o.stock_item.id  from_date to_date  %}</td>
        {% endfor %}
        </div>

      <div class="other_charges_box" >
        <div class="other_charges">
            <div class="lable">हमाली</div>
            <div class="containt">{{hamali | floatformat:2}}</div>
        </div>
        <div class="other_charges">
            <div class="lable">तोलाई</div>
            <div class="containt">{{tolai | floatformat:2}}</div>
        </div>
        <div class="other_charges">
    <div class="lable">आडत</div>
    <div class="containt">{{aadat | floatformat:2}}</div>
</div>
<div class="other_charges">
    <div class="lable">शेअर्स</div>
    <div class="containt">{{shears | floatformat:2}}</div>
</div>
<div class="other_charges">
    <div class="lable">इतर</div>
    <div class="containt">{{eater | floatformat:2}}</div>
</div>
<div class="other_charges">
    <div class="lable">एकूण</div>
    <div class="containt" id="total_item_amount_box"><b><b>Rs.{% total_item_amount_report selected_employee.id from_date to_date employee.shope_id %}</b></b></div>
</div>
</div>
      <div class="p-3 border" style="display: grid;grid-template-columns: repeat(auto-fit, 300px);" >
        <div>Pending &nbsp; <b>Rs.{{total_pending_amount| floatformat:2}}</b></div>
        <div>Cash &nbsp; <b>Rs.{{cash | floatformat:2}}</b></div>
        <div>PhonePe &nbsp; <b>Rs.{{phonepe | floatformat:2}}</b></div>
        <div>Total &nbsp; <b>Rs.{{total_credit_amount | floatformat:2}}</b></div>
      </div>
      <div class="p-3 border" style="display: grid;grid-template-columns: repeat(auto-fit, 300px);" >
        <div><h5><b>Discount</b></h5></div>
        <div>जास्तीत - जास्त &nbsp; <b>Rs.{{max_discount | floatformat:2}}</b></div>
        <div>Total &nbsp; <b>Rs.{{total_discount | floatformat:2}}</b></div>
      </div>
      {% endif %}
    </div>




</div>
<br><br><br>
{% endblock content %}