{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% load office_tag %}
{% include 'include/alert.html' %}
<div>
    welcome - {{employee.name}}
</div>
{% include 'include/office/office_menu.html' %}


<style>
    .stock_box{
        width: 92%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 20px;
        position: relative;
    }
    .flex{
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    .product_name{
        background-color: rgb(193, 255, 255);
        padding: 10px;
        font-weight: 700;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .category_name{
        position: absolute;
        right: 10px;
        top: 0;
    }
</style>
<style>
    .other_charges_box{
        justify-content: space-between;
        display: flex;
    }
    .other_charges{
        display: flex;
        flex-direction: column;
        input{
            width: 50px;
        }
    }
</style>
  <div class="text-center">
    {% for s in stock %}
        <div class="stock_box">
            <div class="category_name">{{s.item_category.name}}</div>
            <div class="product_name">{{s.item_name_marathi}}</div>
            <div class="p-2">
                <div class="flex" style="justify-content: space-evenly;">
                    <div>{{s.party_name}}</div>
                    <div style="text-transform: uppercase;">{{s.vehicle_number}}</div>
                </div>
                <div class="flex" style="justify-content: space-between;">
                    <div><b>एकूण</b> - &nbsp;&nbsp;&nbsp;&nbsp; वजन   <b>{{s.weight}}</b></div>
                    <div>नग   <b>{{s.qty}}</b></div>
                </div>
                <div class="flex" style="justify-content: space-between;">
                    <div><b>विक्री </b> - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; वजन   <b>{% sell_weight s.weight s.stock_weight %}</b></div>
                    <div>नग   <b>{% sell_qty s.qty s.stock_qty %}</b></div>
                </div>
                <div class="flex" style="justify-content: space-between;">
                    <div><b>शिल्लक</b> - &nbsp; वजन   <b>{{s.stock_weight}}</b></div>
                    <div>नग   <b>{{s.stock_qty}}</b></div>
                </div>
                <div class="flex">
                    <div>खरेदी रक्कम<b>&nbsp;{{s.purchase_amount}}</b></div>&nbsp;&nbsp;
                    <div>विक्री रक्कम<b> &nbsp; {% sell_amount s.purchase_amount s.id as n %}{{n}}</b></div>
                </div>
                <div class="flex">
                    <div>{% profit_loss s.purchase_amount s.vehicle_charges n %}</div>
                </div>
                <div class="flex" style="justify-content: space-between;">
                    <div>Added By - {{s.office_employee.name}}</div>
                    <div>मोटार भाडे  <b>Rs.{{s.vehicle_charges}}</b></div>
                    <div>{{s.date}}</div>
                </div>
            </div>
            {% item_stock_summary employee.shope.id s.id %}
        </div>
    {% endfor %}
  </div>
</div>



{% endblock content %}