{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% load office_tag %}
{% include 'include/alert.html' %}
<div>
    welcome - {{employee.name}}
</div>
{% include 'include/office/office_menu.html' %}
<div class="container">
<style>
    .farmer_pending_box{
        width: 90%;
        height: fit-content;
        padding: 5px;
        margin-top: 10px;
        background-color: rgb(244, 185, 185);
        border-radius: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 40px;
    }
</style>
<div class="farmer_pending_box">
    <div><b>शेतकरी एकूण देणे बाकी </b></div>
    <div><b>Rs.{% all_purchase_farmer_total_pending_amount employee.shope_id %}</b></div>
</div>
<style>
    .customer_pending_box{
        width: 90%;
        height: fit-content;
        padding: 5px;
        margin-top: 10px;
        background-color: rgb(111, 181, 45);
        border-radius: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 40px;
    }
</style>
<div class="customer_pending_box">
    <div><b>उधारी एकूण  येणे बाकी </b></div>
    <div><b>Rs.{% all_sell_customer_total_pending_amount employee.shope_id %}</b></div>
</div>
<style>
    .item_box{
        width: 90%;
        height: fit-content;
        padding: 5px;
        margin-top: 10px;
        background-color: rgb(179, 255, 201);
        border-radius: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 40px;
    }
</style>
<br>
    {% for i in item %}
        <div class="item_box">
            <div><b>{{i.marathi_name}}</b></div>
            <div>शिल्लक वजन <b>{% stock_item_weight i.id %}</b></div>
        </div>
    {% endfor %}
    <br>
    
    <style>
        .farmer_box{
            width: 90%;
            height: fit-content;
            margin-top: 10px;
            border-radius: 10px;
            text-align: center;
            border: 1px solid black;
            gap: 40px;
            overflow: hidden;
            .name{
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                padding: 5px;
                background-color: rgb(192, 248, 255);
            }

        }
        .farmer_item_box{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            padding-top: 1px;
            background-color: black;
            gap: 1px;
            div{
                background-color: white;
            }
            .head{
                font-weight: 700;
            }
        }
        </style>
{% for f in farmer %}
{% order_master_farmer f.id as order_master %}
<div class="farmer_box" id="farmer_box{{f.id}}" {% if order_master %}{% else %} style="display: none;" {% endif %} >
    <div class="name">शेतकरी नाव &nbsp; <b> {{f.name}}</b></div>
        <div class="farmer_item_box">

            <div class="head">नाव</div>
            <div class="head">खरेदी</div>
            <div class="head">विक्री</div>
            <div class="head">शिल्लक</div>
            <div class="head">status</div>
        {% for o in order_master %}
            {% order_detail o.order_filter o.shope_id as order_detail %}
            {% for d in order_detail %}
                <div>{{d.item.marathi_name}}</div>
                <div>{{d.weight}}</div>
                <div>0</div>
                <div>{% calculate_remaining_order_detail_weight d.id %}</div>
                <div><button style="scale: 0.8;" type="submit" class="btn btn-danger btn-sm">close</button></div>
            {% endfor %}
        {% endfor %}
        </div>
</div>
<br>
{% endfor %}
</div>
{% endblock content %}