{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% load office_tag %}
{% include 'include/alert.html' %}
<div>
    welcome - {{employee.name}}
</div>
{% include 'include/office/office_menu.html' %}


<style>
    .bill_main_box{

        margin: 0 auto;
        width: 92%;
        border: 1px solid black;
        text-align: center;
        margin-top: 10px;

    }
    .header{
        margin-top: 0px;
        height: fit-content;
    }
    .shope_name{
        font-weight: 700;
    }
    .customer_name{
        margin-top: 10px;
    }
    .flex{
        display: flex;
        gap: 10px;
    }
    .card_item_box{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 2fr;
        border-bottom: 1px solid black;
        .main_containt{
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }
    .main_head{
        border-bottom: 1px solid black;
        background-color: rgb(255, 234, 215);
    }
    .cart_item_name_box{
        background-color: rgb(255, 234, 215);
        border-top: 1px solid black;
        display: flex;
        justify-content: space-evenly;
    }
    .cart_item_main_box{
        position: relative;
    }
    .remove_cart_item_box{
        position: absolute;
        top: 0;
        right: 5px;
        color: red;
    }
    .other_charges_box{
        gap: 5px;
        display: flex;
    }
    .other_charges{
        display: flex;
        flex-direction: column;
        input{
            width: 50px;
        }
    }
    .weight_btn{
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center; 
        font-size: 20px;
        height: 30px;
    }
    
</style>
<div class="container">
    <div class="bill_main_box">
        <div class="header">
            <div class="shope_name">{{employee.shope.shope_name}}</div>
            <p>विक्री बिल</p>
        </div>

            <input type="hidden" value="{{customer.id}}" name="customer_id">
            <!--            -->
            <div id="item_weight_result">



                {% total_item_amount_sell employee.id as total_item_amount %}
                {% for c in cart %}
                <br>
                <div class="cart_item_main_box">
                    {% item_weight_detail_sum_sell c.id as n %}
                    {% if n or c.qty %}{% else %}<div class="remove_cart_item_box" data-bs-toggle="modal" data-bs-target="#exampleModal123{{c.id}}" >X</div>{% endif %}
                    <div class="cart_item_name_box">
                        <b>{{c.item.marathi_name}}</b>
                    </div>
                <div class="card_item_box">
                    <div class="main_head">वजनाचा तपशील </div>
                    <div class="main_head">नग</div>
                    <div class="main_head">वजन</div>
                    <div class="main_head">दर</div>
                    <div class="main_head">रक्कम</div>
                    <div class="main_containt" id="item_weight{{c.id}}">{% sell_item_weight_detail c.id %}</div>
                    <div class="main_containt"><input type="number" oninput="check_zero('cart_qty{{c.id}}'),check_input_show_btn_for_prise_and_qty('{% if c.qty == 0 %}{% else %}{{c.qty}}{% endif %}' ,'cart_qty', 'qty_btn', '{{c.id}}'),check_stock_qty('{{c.item.stock_qty}}', '{{c.id}}', '{{c.qty}}')" value="{% if c.qty == 0 %}{% else %}{{c.qty}}{% endif %}" id="cart_qty{{c.id}}" style="width: 40px;" required><br><p class="mb-0"><i style="display: none;" onclick="cart_qty('{{c.id}}')" id="qty_btn{{c.id}}" class="fa-solid fa-check"></i></p></div>
                    <div class="main_containt"> <input type="text" value="{% if n == 0 %}{% else %}{{n}}{% endif %}" style="width: 40px;" required readonly="readonly"></div>
                    <div class="main_containt"  ><input step="any" value="{% if c.prise == 0 %}{% else %}{{c.prise | floatformat:2}}{% endif %}" type="number" id="prise{{c.id}}" oninput="check_zero('prise{{c.id}}'),check_input_show_btn_for_prise_and_qty('{% if c.prise == 0 %}{% else %}{{c.prise | floatformat:2}}{% endif %}' ,'prise', 'prise_btn', '{{c.id}}')"  style="width: 40px;" required><br><p class="mb-0"><i style="display: none;" id="prise_btn{{c.id}}" onclick="calculete_prise('{{n}}','{{c.id}}'),total_amount_calculate('{{total_item_amount}}')" class="fa-solid fa-check"></i></p></div>
                    <div class="main_containt" id="set_amount_div{{c.id}}">{% calculete_item_prise n c.prise as calculete_item_prise %}<input type="text" value="{% if calculete_item_prise == 0.0 %}{% else %}{{calculete_item_prise}}{% endif %}" style="width: 60px;" required></div>
                </div> 
                    <div class="card_item_box" style="border: none;">
                        <div  style="text-align: start; display: flex; gap: 10px;" >
                            <div><input style="width: 100px;" id="weight{{c.id}}" oninput="check_zero('weight{{c.id}}'),check_input_show_btn('weight', 'add_weight_btn', '{{c.id}}')" placeholder="वजन टाका" type="number"></div>
                            <div ><button  id="add_weight_btn{{c.id}}" style="display: none;" onclick="add_to_item_weight('{{c.id}}','{{c.item.id}}')" class="btn btn-primary btn-sm weight_btn">+</button></div>
                        </div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                
                <!-----------------------modal----------------------------------->
                <div class="modal fade" id="exampleModal123{{c.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">खात्री करणे बाबत ... </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <b class="text-danger"> {{c.item.item_name_marathi}} </b> कार्ट मधून  काढायचे आहे का ? <br><br>
                                <a onclick="delete_sell_cart_item('{{c.id}}')" class="btn btn-danger" data-bs-dismiss="modal" >काढून टाका</a>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-----------------------endmodal----------------------------------->
            
            {% endfor %}
            <div class="container">

                <br>
                <div class="list-group">
                    
                    <input type="text" class="form-control mb-1" placeholder="मालाचे नाव शोधा" oninput="search_item(this.value)">
                    <div id="item_result">
                        
                    </div>
                </div>
            </div>

            {% if cart %}
            <form method="POST">
            <div id="complete_bill_box">
                <hr>
                <div class="other_charges_box" >
                    <div class="other_charges">
                        <div class="lable">हमाली</div>
                        <div class="containt"> <input type="number" value="" class="check_zero1" name="hamali" id="हमाली" oninput="total_amount_calculate('{{total_item_amount}}'),check_zero('हमाली')"  required> </div>
                    </div>
                    <div class="other_charges">
                        <div class="lable">तोलाई</div>
                        <div class="containt"> <input type="number" value="" class="check_zero2" name="tolai" id="तोलाई" oninput="total_amount_calculate('{{total_item_amount}}'),check_zero('तोलाई')" required> </div>
                    </div>
                    <div class="other_charges">
                <div class="lable">आडत</div>
                <div class="containt"> <input type="number" name="aadat" value="" class="check_zero3" id="आडत" oninput="total_amount_calculate('{{total_item_amount}}'),check_zero('आडत')"  required> </div>
            </div>
            <div class="other_charges">
                <div class="lable">शेअर्स</div>
                <div class="containt"> <input step="any" type="number" value="" name="shears" class="check_zero4" id="शेअर्स" oninput="total_amount_calculate('{{total_item_amount}}'),check_zero('शेअर्स')" required> </div>
            </div>
            <div class="other_charges">
                <div class="lable">इतर</div>
                <div class="containt"> <input type="number" name="eater" id="इतर" class="check_zero5" oninput="total_amount_calculate('{{total_item_amount}}'),check_zero('इतर')" required> </div>
            </div>
            <div class="other_charges">
                <div class="lable">एकूण</div>
                <input type="hidden" name="total" id="total_item_amount_input" value="">
                <div class="containt" id="total_item_amount_box">{{total_item_amount}} </div>
            </div>
        </div>
        
        <div class="customer_detail">
            <input type="hidden" name="customer_id" id="customer_id">
            <div class="customer_name"><input  oninput="customer_check()" id="customer_name" value="" name="name" type="text" class="form-control" placeholder="नाव" required></div>
            <input oninput="customer_check()" id="customer_add" name="address" type="text" value="" class="form-control mt-2" placeholder="पत्ता" required>
                <div class="flex">
                    <div><input oninput="customer_check(), check_number()" id="customer_mobile" value="" name="mobile" type="number" class="form-control mt-2" placeholder="मोबाइल नंबर " required></div>
                    <div id="add_customer_btn"><a onclick="save_sell_customer()" class="btn btn-primary mt-2">जतन करा</a></div>
                    <div id="cancel_customer" style="display: none;"><button onclick="cancel_customer()" class="btn text-danger">X</button></div>
                </div>
        </div>

        <div id="customer_result"></div>

        <button type="submit"  class="btn btn-danger mb-2 mt-2" name="complete_bill">बिल पूर्ण करा</button>
    </div>
</form>
    {% endif %}


    </div>

            <!--            -->

    </div>
    

    

</div>


<!--TODO-------------------------------------------------------------------------- -->

<script>

function cancel_customer(){
    document.getElementById('customer_id').value = '';
    document.getElementById('customer_name').value = '';
    document.getElementById('customer_mobile').value = '';
    document.getElementById('customer_add').value = '';
    document.getElementById('customer_result').innerHTML = '';
    document.getElementById('add_customer_btn').style.display = 'flex';
    document.getElementById('cancel_customer').style.display = 'none';
}

function select_customer(id, name, mobile, address){
    document.getElementById('customer_id').value = id;
    document.getElementById('customer_name').value = name;
    document.getElementById('customer_mobile').value = mobile;
    document.getElementById('customer_add').value = address;
    document.getElementById('customer_result').innerHTML = '';
    document.getElementById('add_customer_btn').style.display = 'none';
    document.getElementById('cancel_customer').style.display = 'flex';
}

function save_sell_customer(){
    name = document.getElementById('customer_name').value;
    address = document.getElementById('customer_add').value;
    mobile = document.getElementById('customer_mobile').value;
    if (name == '' || address == '' || mobile == ''){
        alert('कृपया सर्व माहिती भरा')
    }
    else{
    $.ajax({
        url: "{% url 'save_sell_customer' %}",
        method: "GET",
        data:{
            name:name,
            address:address,
            mobile:mobile,
            shope_id:'{{employee.shope.id}}'
        },
        success: function(res){
            document.getElementById('add_customer_btn').style.display = 'none';
            document.getElementById('cancel_customer').style.display = 'flex';
            document.getElementById('customer_id').value = res.id
        }
    })
}
}

function customer_check(){
    name = document.getElementById('customer_name').value;
    address = document.getElementById('customer_add').value;
    mobile = document.getElementById('customer_mobile').value;
    $.ajax({
        url: "{% url 'customer_check' %}",
        method: "GET",
        data:{
            name:name,
                    address:address,
                    mobile:mobile,
                    shope_id:'{{employee.shope.id}}'
                },
                    success: function(res){
                        $("#customer_result").html(res.t)
                        if (Number(res.add_btn_status) == 0){
                            document.getElementById('add_customer_btn').innerHTML = `<div class='alert alert-danger'>मोबाइल नंबर वापरलेला आहे </div> `
                        }
                        if (Number(res.add_btn_status) == '1'){
                            document.getElementById('add_customer_btn').innerHTML = `<a onclick="save_sell_customer()" class="btn btn-primary mt-2">जतन करा</a>`
                        }
                    }
            })
        }

        old_amount = '{{total_item_amount}}'
    total_amount_calculate(old_amount)
function check_stock_qty(stock_qty, c_id, c_qty){
    input = document.getElementById('cart_qty'+c_id).value;
    if (Number(c_qty) > Number(input)){

    }
    else if (Number(stock_qty) <= Number(input)){
        v = Number(c_qty) + Number(stock_qty)
        if (v == 0){
            v = c_qty
        }
        document.getElementById('cart_qty'+c_id).value = v;
    }
}
function check_zero(id){
    element_id =""+ id +""
    number = document.getElementById(element_id).value;
    
    if (Number(number) < 0){
        document.getElementById(element_id).value = ''
    }
}


function check_input_show_btn_for_prise_and_qty(input_value ,input_id, btn_id, c_id){
    input = document.getElementById(input_id+c_id).value;
    if (Number(input_value) != Number(input)){
        console.log('unset')
        document.getElementById(btn_id + c_id).style.display = 'flex';
        document.getElementById('complete_bill').style.display = 'none';
    }
    if (Number(input_value) == Number(input)){
        console.log('none')
        document.getElementById(btn_id + c_id).style.display = 'none';
        document.getElementById('complete_bill').style.display = 'unset';
    }
}
function check_input_show_btn(input_id, btn_id, c_id){
    input = document.getElementById(input_id+c_id).value;

    if (Number(input) > 0){
        console.log('unset')
        document.getElementById(btn_id + c_id).style.display = 'flex';
        document.getElementById('complete_bill').style.display = 'none';
    }
    if (Number(input.length) < 1){
        console.log('none')
        document.getElementById(btn_id + c_id).style.display = 'none';
        document.getElementById('complete_bill').style.display = 'unset';
    }
}

function check_weight_greter(stock_weight, c_id){
    input_weight = document.getElementById('weight'+c_id).value;

    if(Number(input_weight) > Number(stock_weight)){
        input_weight = document.getElementById('weight'+c_id).value = '';
    }
}
function total_amount_calculate(old_amount){
    new_amount = Number(old_amount) -
             (
                Number(document.getElementById('हमाली').value) + 
                Number(document.getElementById('तोलाई').value) + 
                Number(document.getElementById('आडत').value) +
                Number(document.getElementById('शेअर्स').value) +
                Number(document.getElementById('इतर').value)
            )
    document.getElementById('total_item_amount_box').innerHTML = new_amount
    document.getElementById('total_item_amount_input').value = new_amount
}



 
function add_to_item_weight(c_id,item_id){
    $.ajax({
            url: "{% url 'add_to_item_weight_sell' %}",
            method: "GET",
            data:{
                cart_id:c_id,
                weight:document.getElementById('weight'+c_id).value,
                employee_id:'{{employee.id}}',
                item_id:item_id,
                  },
                success: function(res){
                    $("#item_weight_result").html(res.t)
                }
        })
}

function calculete_prise(weight, c_id){
    if (weight >= 1){
        prise = document.getElementById('prise'+c_id).value
        if (prise < 0){
            prise = document.getElementById('prise'+c_id).value = 0
            
        }
        amount = prise * weight
        document.getElementById('set_amount_div'+c_id).innerHTML = amount;
        $.ajax({
            url: "{% url 'calculete_prise_sell' %}",
            method: "GET",
            data:{
                cart_id:c_id,
                prise:prise
            },
            success: function(res){
                $("#item_weight_result").html(res.t)
            }
        })
    }
    else{
        prise = document.getElementById('prise'+c_id).value = '';
        alert('कृपया वजन टाका ')
    }
}

</script>

<!--//-------------------------------------------------------------------------- -->

<script>
function search_item(item_name){
    var data = {
        item_name: item_name,
        shope_id: '{{employee.shope_id}}',
    }
    $.ajax({
        type: 'GET',
        url: '{% url "sell_search_item" %}',
        data: data,
        success: function(response){
            document.getElementById('item_result').innerHTML = response.t
        }
    })
}
function delete_sell_cart_item(c_id){
    var data = {
        c_id: c_id,
    }
    $.ajax({
        type: 'GET',
        url: '{% url "delete_sell_cart_item" %}',
        data: data,
        success: function(response){
            location.reload()
        }
    })
}
</script>
{% endblock content %}