{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
<div>
    welcome - {{employee.name}}
</div>
{% include 'include/office/office_menu.html' %}
<div class="container">

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Stock
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Stock detail</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">{% csrf_token %}
            <div class="mb-3">
                <select class="form-select" name="item_category" aria-label="Default select example" required>
                    <option value="">Category</option>
                    {% for i in item_category %}
                        <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="mb-3">
                <label for="">Item Name Marathi</label>
                <input type="text" class="form-control" name="item_name_marathi" required>
            </div>
            <div class="mb-3">
                <label for="">Item Name English</label>
                <input type="text" class="form-control" name="item_name_english" required>
            </div>
            <div class="mb-3">
                <label for="">Qty</label>
                <input type="number" class="form-control" name="qty" required>
            </div>
            <div class="mb-3">
                <label for="">Weight</label>
                <input type="number" class="form-control" name="weight" required>
            </div>
            <div class="mb-3">
                <label for="">Vehicle Number</label>
                <input type="text" class="form-control" name="vehicle_number" required>
            </div>
            <div class="mb-3">
                <label for="">Party Name</label>
                <input type="text" class="form-control" name="party_name" required>
            </div>
            <div class="mb-3">
                <label for="">Purchase Amount</label>
                <input type="text" class="form-control" name="purchase_amount" required>
            </div>
            <div class="mb-3">
                <button type="submit" name="Add_stock" class="btn btn-success">Add</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <style>
    .stock_box{
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }
    .flex{
        display: flex;
        gap: 10px;
        justify-content: center;
    }
  </style>
  <div class="text-center">
    {% for s in stock %}
        <div class="stock_box">
            <div><b>{{s.item_category.name}}</b></div>
            <div class="flex">
                <div>{{s.item_name_marathi}}</div>
            </div>
            <div class="flex">
                <div>qty - {{s.qty}}</div>
                <div>Weight - {{s.weight}}</div>
            </div>
            <div class="flex">
            <div>{{s.vehicle_number}}</div>
            <div>{{s.party_name}}</div>
            </div>
            <div class="flex" style="justify-content: space-between;">
                <div>Added By - {{s.office_employee.name}}</div>
                <div>{{s.date}}</div>
            </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}