<!--  #views
from django.contrib import messages
messages.warning(request,"text")
-->
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}

    {% for message in messages %}

    <script>
        Swal.fire({
            title: "{{ message }}",
            text: "",
            icon: "{{message.tags}}",
            timer: 3000,
            timerProgressBar: true,
            didOpen: () => {
                const timer = Swal.getPopup().querySelector("b");
                timerInterval = setInterval(() => {
                }, 500);
            },
            willClose: () => {
                clearInterval(timerInterval);
            }
        });


    </script>
    {% endfor %}

{% endif %}
