<style>
    .customer_filter{
        width: 300px;
        border-radius: 10px;
        background-color: rgb(255, 239, 223);
        margin: auto;
        margin-top: 10px;
        text-align: center;
        padding: 10px;
    }
    .hedder{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        font-weight: 600;
    }
</style>
{% for c in c %}
<div class="customer_filter">
    <div class="hedder">
    <div class="customer_name">{{c.name}}</div>
    <div class="customer_modile">{{c.mobile}}</div>
</div>
    <div class="customer_address">{{c.address}}</div>
        <input type="hidden" name="customer_id"   value="{{c.id}}">
        <button type="button" onclick="select_customer('{{c.id}}','{{c.name}}', '{{c.mobile}}', '{{c.address}}')" class="btn btn-danger btn-sm mt-2">select</button>
</div>
{% endfor %}