{% load office_tag %}

            <div id="item_weight_result">



                
                {% total_item_amount_sell employee.id as total_item_amount %}
                {% for c in cart %}
                <br>
                <div class="cart_item_main_box">
                    {% item_weight_detail_sum_sell c.id as n %}
                    {% if n or c.qty %}{% else %}<div class="remove_cart_item_box" data-bs-toggle="modal" data-bs-target="#exampleModal123{{c.id}}" >X</div>{% endif %}
                    <div class="cart_item_name_box">
                        <b>{{c.item.marathi_name}}</b>
                    </div>
                <div class="card_item_box">
                    <div class="main_head">वजनाचा तपशील </div>
                    <div class="main_head">नग</div>
                    <div class="main_head">वजन</div>
                    <div class="main_head">दर</div>
                    <div class="main_head">रक्कम</div>
                    <div class="main_containt" id="item_weight{{c.id}}">{% sell_item_weight_detail c.id %}</div>
                    <div class="main_containt"><input type="number" oninput="check_zero('cart_qty{{c.id}}'),check_input_show_btn_for_prise_and_qty('{% if c.qty == 0 %}{% else %}{{c.qty}}{% endif %}' ,'cart_qty', 'qty_btn', '{{c.id}}'),check_stock_qty('{{c.item.stock_qty}}', '{{c.id}}', '{{c.qty}}')" value="{% if c.qty == 0 %}{% else %}{{c.qty}}{% endif %}" id="cart_qty{{c.id}}" style="width: 40px;" required><br><p class="mb-0"><i style="display: none;" onclick="cart_qty('{{c.id}}')" id="qty_btn{{c.id}}" class="fa-solid fa-check"></i></p></div>
                    <div class="main_containt"> <input type="text" value="{% if n == 0 %}{% else %}{{n}}{% endif %}" style="width: 40px;" required readonly="readonly"></div>
                    <div class="main_containt"  ><input step="any" value="{% if c.prise == 0 %}{% else %}{{c.prise | floatformat:2}}{% endif %}" type="number" id="prise{{c.id}}" oninput="check_zero('prise{{c.id}}'),check_input_show_btn_for_prise_and_qty('{% if c.prise == 0 %}{% else %}{{c.prise | floatformat:2}}{% endif %}' ,'prise', 'prise_btn', '{{c.id}}')"  style="width: 40px;" required><br><p class="mb-0"><i style="display: none;" id="prise_btn{{c.id}}" onclick="calculete_prise('{{n}}','{{c.id}}'),total_amount_calculate('{{total_item_amount}}')" class="fa-solid fa-check"></i></p></div>
                    <div class="main_containt" id="set_amount_div{{c.id}}">{% calculete_item_prise n c.prise as calculete_item_prise %}<input type="text" value="{% if calculete_item_prise == 0.0 %}{% else %}{{calculete_item_prise}}{% endif %}" style="width: 60px;" required></div>
                </div> 
                    <div class="card_item_box" style="border: none;">
                        <div  style="text-align: start; display: flex; gap: 10px;" >
                            <div><input style="width: 100px;" id="weight{{c.id}}" oninput="check_zero('weight{{c.id}}'),check_input_show_btn('weight', 'add_weight_btn', '{{c.id}}')" placeholder="वजन टाका" type="number"></div>
                            <div ><button  id="add_weight_btn{{c.id}}" style="display: none;" onclick="add_to_item_weight('{{c.id}}','{{c.item.id}}')" class="btn btn-primary btn-sm weight_btn">+</button></div>
                        </div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                
                <!-----------------------modal----------------------------------->
                <div class="modal fade" id="exampleModal123{{c.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">खात्री करणे बाबत ... </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <b class="text-danger"> {{c.item.item_name_marathi}} </b> कार्ट मधून  काढायचे आहे का ? <br><br>
                                <a onclick="delete_sell_cart_item('{{c.id}}')" class="btn btn-danger" data-bs-dismiss="modal" >काढून टाका</a>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-----------------------endmodal----------------------------------->
            
            {% endfor %}
            <div class="container">

                <br>
                <div class="list-group">
                    
                    <input type="text" class="form-control mb-1" placeholder="मालाचे नाव शोधा" oninput="search_item(this.value)">
                    <div id="item_result">
                        
                    </div>
                </div>
            </div>

            {% if cart %}
            <form method="POST">
            <div id="complete_bill_box">
                <hr>
                <div class="other_charges_box" >
                    <div class="other_charges">
                        <div class="lable">हमाली</div>
                        <div class="containt"> <input type="number" class="check_zero1" name="hamali" value="{% calculete_hamali_percentage_sell employee.id %}" id="हमाली" oninput="total_amount_calculate('{{total_item_amount}}'),check_zero('हमाली')"  required> </div>
                    </div>
                    <div class="other_charges">
                        <div class="lable">तोलाई</div>
                        <div class="containt"> <input type="number" class="check_zero2" name="tolai" value="{% calculete_tolai_percentage_sell employee.id %}" id="तोलाई" oninput="total_amount_calculate('{{total_item_amount}}'),check_zero('तोलाई')" required> </div>
                    </div>
                    <div class="other_charges">
                <div class="lable">आडत</div>
                <div class="containt"> <input type="number" name="aadat" value="{% calculete_aadat_percentage_sell employee.id %}" class="check_zero3" id="आडत" oninput="total_amount_calculate('{{total_item_amount}}'),check_zero('आडत')"  required> </div>
            </div>
            <div class="other_charges">
                <div class="lable">शेअर्स</div>
                <div class="containt"> <input step="any" type="number" name="shears" value="{% calculete_shears_percentage_sell employee.id %}" class="check_zero4" id="शेअर्स" oninput="total_amount_calculate('{{total_item_amount}}'),check_zero('शेअर्स')" required> </div>
            </div>
            <div class="other_charges">
                <div class="lable">इतर</div>
                <div class="containt"> <input type="number" name="eater" value="{% calculete_eater_percentage_sell employee.id %}" id="इतर" class="check_zero5" oninput="total_amount_calculate('{{total_item_amount}}'),check_zero('इतर')" required> </div>
            </div>
            <div class="other_charges">
                <div class="lable">एकूण</div>
                <input type="hidden" name="total" id="total_item_amount_input" value="">
                <div class="containt" id="total_item_amount_box">{{total_item_amount}} </div>
            </div>
        </div>
        
        <div class="customer_detail">
            <input type="hidden" name="customer_id" id="customer_id">
            <div class="customer_name"><input  oninput="customer_check()" id="customer_name" value="" name="name" type="text" class="form-control" placeholder="नाव" required></div>
            <input oninput="customer_check()" id="customer_add" name="address" type="text" value="" class="form-control mt-2" placeholder="पत्ता" required>
                <div class="flex">
                    <div><input oninput="customer_check(), check_number()" id="customer_mobile" value="" name="mobile" type="number" class="form-control mt-2" placeholder="मोबाइल नंबर " required></div>
                    <div id="add_customer_btn"><a onclick="save_sell_customer()" class="btn btn-primary mt-2">जतन करा</a></div>
                    <div id="cancel_customer" style="display: none;"><button onclick="cancel_customer()" class="btn text-danger">X</button></div>
                </div>
        </div>

        <div id="customer_result"></div>

        <button type="submit"  class="btn btn-danger mb-2 mt-2" style="display: none;" id="complete_bill_btn" name="complete_bill">बिल पूर्ण करा</button>
    </div>
</form>
    {% endif %}

    <script>
                old_amount = '{{total_item_amount}}'
                total_amount_calculate(old_amount)
    </script>
    </div>